<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="SRACE" value="https://pkgs.dev.azure.com/HSREMIC/S-RACE/_packaging/S-RACE/nuget/v3/index.json" />
		<add key="Microsoft Health" value="https://microsofthealthoss.pkgs.visualstudio.com/FhirServer/_packaging/Public/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<SRACE>
			<add key="Username" value="user" />
			<add key="ClearTextPassword" value="yv6rpkgaghfa7a2fwias3z6gbzhesrumrbdbw3owft5xdy3ennsq" />
			<add key="ValidAuthenticationTypes" value="basic" />
		</SRACE>
	</packageSourceCredentials>	
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Microsoft Health">
			<package pattern="Microsoft.Health.*" />
		</packageSource>
		<packageSource key="feed-SRACE">
			<package pattern="S_RACE.*" />
			<package pattern="SRace.*" />
			<package pattern="SRACE.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>